In [1]:
!python --version

Python 3.6.8 :: Anaconda, Inc.

In [2]:
#Show the System Variables

import os
print(os.getcwd())

C:\Users\Metin USLU\Desktop\AssRulesPy

In [3]:
#Importing Modules
import pandas as pd
import numpy as np

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import mlxtend as ml
#print(ml.__version__)

In [4]:
# dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
#            ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
#            ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
#            ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
#            ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [5]:
dataset = []

In [6]:
import random

items = ['Apple','Corn','Dill','Eggs',
         'Ice cream','Kidney Beans','Milk','Nutmeg',
         'Onion','Unicorn','Yogurt', 'Bread', 
         'Cheese', 'Butter', 'Sugar','Chocolate']

for i in range(1, 1000):
    k = random.randrange(1, len(items)+1)
    #print('K Values:', k)
    dataset.append(random.choices(items, k=k))
    #print(random.sample(items, k=k))
    
    #liste.append(random.sample(items, k=k))
    #print(random.sample(items, k=k))

In [7]:
print(len(dataset))

999

In [8]:
print(dataset[1:5])

[['Milk', 'Kidney Beans', 'Milk', 'Yogurt', 'Bread', 'Milk', 'Cheese', 'Eggs'], ['Apple', 'Nutmeg', 'Eggs', 'Onion', 'Unicorn', 'Nutmeg'], ['Ice cream', 'Chocolate'], ['Onion', 'Corn', 'Nutmeg', 'Sugar', 'Eggs']]

In [9]:
print(dataset[995:(len(dataset)+1)])

[['Sugar', 'Kidney Beans', 'Cheese', 'Nutmeg', 'Ice cream', 'Butter', 'Butter', 'Apple', 'Kidney Beans', 'Bread'], ['Dill', 'Onion', 'Corn', 'Ice cream', 'Milk', 'Eggs', 'Onion', 'Chocolate', 'Corn', 'Nutmeg', 'Bread', 'Ice cream', 'Bread', 'Cheese', 'Milk'], ['Bread', 'Eggs', 'Kidney Beans', 'Chocolate', 'Ice cream', 'Apple', 'Cheese', 'Nutmeg', 'Apple'], ['Sugar', 'Nutmeg', 'Yogurt', 'Nutmeg', 'Yogurt', 'Apple', 'Apple', 'Bread', 'Unicorn', 'Kidney Beans', 'Corn', 'Eggs']]

In [10]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
df.head()

,Apple,Bread,Butter,Cheese,Chocolate,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt
0,False,True,True,False,True,True,True,False,False,False,False,False,True,False,True,True
1,False,True,False,True,False,False,False,True,False,True,True,False,False,False,False,True
2,True,False,False,False,False,False,False,True,False,False,False,True,True,False,True,False
3,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,True,False,False,False,True,True,True,False,False

In [12]:
apriori(df, min_support=0.15)[1:26]

     support itemsets
1   0.394394      (1)
2   0.426426      (2)
3   0.398398      (3)
4   0.391391      (4)
5   0.390390      (5)
6   0.409409      (6)
7   0.384384      (7)
8   0.409409      (8)
9   0.393393      (9)
10  0.384384     (10)
11  0.421421     (11)
12  0.387387     (12)
13  0.393393     (13)
14  0.388388     (14)
15  0.394394     (15)
16  0.167167   (0, 1)
17  0.187187   (0, 2)
18  0.183183   (0, 3)
19  0.167167   (0, 4)
20  0.159159   (0, 5)
21  0.165165   (0, 6)
22  0.177177   (0, 7)
23  0.183183   (0, 8)
24  0.170170   (0, 9)
25  0.166166  (0, 10)

In [13]:
print("Kural Sayısı:", len(apriori(df, min_support=0.15)))

Kural Sayısı: 136

In [14]:
apriori(df, min_support=0.15, use_colnames=True)[1:26]

     support               itemsets
1   0.394394                (Bread)
2   0.426426               (Butter)
3   0.398398               (Cheese)
4   0.391391            (Chocolate)
5   0.390390                 (Corn)
6   0.409409                 (Dill)
7   0.384384                 (Eggs)
8   0.409409            (Ice cream)
9   0.393393         (Kidney Beans)
10  0.384384                 (Milk)
11  0.421421               (Nutmeg)
12  0.387387                (Onion)
13  0.393393                (Sugar)
14  0.388388              (Unicorn)
15  0.394394               (Yogurt)
16  0.167167         (Bread, Apple)
17  0.187187        (Apple, Butter)
18  0.183183        (Apple, Cheese)
19  0.167167     (Chocolate, Apple)
20  0.159159          (Apple, Corn)
21  0.165165          (Dill, Apple)
22  0.177177          (Eggs, Apple)
23  0.183183     (Ice cream, Apple)
24  0.170170  (Apple, Kidney Beans)
25  0.166166          (Apple, Milk)

In [15]:
frequent_itemsets = apriori(df, min_support=0.15, use_colnames=True)

frequent_itemsets

      support                   itemsets
0    0.384384                    (Apple)
1    0.394394                    (Bread)
2    0.426426                   (Butter)
3    0.398398                   (Cheese)
4    0.391391                (Chocolate)
5    0.390390                     (Corn)
6    0.409409                     (Dill)
7    0.384384                     (Eggs)
8    0.409409                (Ice cream)
9    0.393393             (Kidney Beans)
10   0.384384                     (Milk)
11   0.421421                   (Nutmeg)
12   0.387387                    (Onion)
13   0.393393                    (Sugar)
14   0.388388                  (Unicorn)
15   0.394394                   (Yogurt)
16   0.167167             (Bread, Apple)
17   0.187187            (Apple, Butter)
18   0.183183            (Apple, Cheese)
19   0.167167         (Chocolate, Apple)
20   0.159159              (Apple, Corn)
21   0.165165              (Dill, Apple)
22   0.177177              (Eggs, Apple)
23   0.183183         (Ice cream, Apple)
24   0.170170      (Apple, Kidney Beans)
25   0.166166              (Apple, Milk)
26   0.193193            (Nutmeg, Apple)
27   0.172172             (Onion, Apple)
28   0.172172             (Apple, Sugar)
29   0.162162           (Apple, Unicorn)
..        ...                        ...
106  0.179179            (Eggs, Unicorn)
107  0.173173             (Yogurt, Eggs)
108  0.181181  (Ice cream, Kidney Beans)
109  0.181181          (Ice cream, Milk)
110  0.209209        (Ice cream, Nutmeg)
111  0.198198         (Onion, Ice cream)
112  0.182182         (Ice cream, Sugar)
113  0.180180       (Ice cream, Unicorn)
114  0.170170        (Yogurt, Ice cream)
115  0.177177       (Milk, Kidney Beans)
116  0.185185     (Nutmeg, Kidney Beans)
117  0.172172      (Onion, Kidney Beans)
118  0.170170      (Sugar, Kidney Beans)
119  0.172172    (Unicorn, Kidney Beans)
120  0.174174     (Yogurt, Kidney Beans)
121  0.180180             (Nutmeg, Milk)
122  0.175175              (Onion, Milk)
123  0.177177              (Sugar, Milk)
124  0.183183            (Unicorn, Milk)
125  0.166166             (Yogurt, Milk)
126  0.179179            (Onion, Nutmeg)
127  0.182182            (Nutmeg, Sugar)
128  0.169169          (Nutmeg, Unicorn)
129  0.174174           (Yogurt, Nutmeg)
130  0.172172             (Onion, Sugar)
131  0.170170           (Onion, Unicorn)
132  0.178178            (Onion, Yogurt)
133  0.159159           (Unicorn, Sugar)
134  0.165165            (Yogurt, Sugar)
135  0.165165          (Yogurt, Unicorn)

[136 rows x 2 columns]

In [16]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.30)

rules1 = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.30)

In [17]:
print("Oluşan Kural Sayısı:", len(rules1))

Oluşan Kural Sayısı: 240

In [18]:
rules1 = rules1.sort_values(['confidence'], ascending=False)
rules1[1:11]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
188,(Ice cream),(Nutmeg),0.409409,0.421421,0.209209,0.511002,1.212569,0.036675,1.183193
21,(Apple),(Nutmeg),0.384384,0.421421,0.193193,0.502604,1.192640,0.031205,1.163216
169,(Eggs),(Ice cream),0.384384,0.409409,0.192192,0.500000,1.221271,0.034822,1.181181
78,(Sugar),(Butter),0.393393,0.426426,0.196196,0.498728,1.169552,0.028443,1.144236
189,(Nutmeg),(Ice cream),0.421421,0.409409,0.209209,0.496437,1.212569,0.036675,1.172824
60,(Chocolate),(Butter),0.391391,0.426426,0.193193,0.493606,1.157541,0.026294,1.132663
160,(Onion),(Dill),0.387387,0.409409,0.190190,0.490956,1.199181,0.031590,1.160196
146,(Unicorn),(Corn),0.388388,0.390390,0.190190,0.489691,1.254362,0.038567,1.194589
66,(Eggs),(Butter),0.384384,0.426426,0.188188,0.489583,1.148107,0.024277,1.123736
68,(Ice cream),(Butter),0.409409,0.426426,0.200200,0.488998,1.146734,0.025617,1.122448

In [19]:
rules1["antecedent_len"] = rules1["antecedents"].apply(lambda x: len(x))
rules1["consequents_len"] = rules1["consequents"].apply(lambda x: len(x))
rules1[1:6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
188,(Ice cream),(Nutmeg),0.409409,0.421421,0.209209,0.511002,1.212569,0.036675,1.183193,1,1
21,(Apple),(Nutmeg),0.384384,0.421421,0.193193,0.502604,1.192640,0.031205,1.163216,1,1
169,(Eggs),(Ice cream),0.384384,0.409409,0.192192,0.500000,1.221271,0.034822,1.181181,1,1
78,(Sugar),(Butter),0.393393,0.426426,0.196196,0.498728,1.169552,0.028443,1.144236,1,1
189,(Nutmeg),(Ice cream),0.421421,0.409409,0.209209,0.496437,1.212569,0.036675,1.172824,1,1

In [20]:
rules2 = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

rules2 = rules2.sort_values(['lift'], ascending=False)

rules2[1:6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
147,(Corn),(Unicorn),0.390390,0.388388,0.190190,0.487179,1.254362,0.038567,1.192643
191,(Ice cream),(Onion),0.409409,0.387387,0.198198,0.484108,1.249673,0.039598,1.187481
190,(Onion),(Ice cream),0.387387,0.409409,0.198198,0.511628,1.249673,0.039598,1.209305
216,(Unicorn),(Milk),0.388388,0.384384,0.183183,0.471649,1.227026,0.033893,1.165165
217,(Milk),(Unicorn),0.384384,0.388388,0.183183,0.476562,1.227026,0.033893,1.168452

In [21]:
rules2["antecedent_len"] = rules2["antecedents"].apply(lambda x: len(x))
rules2["consequents_len"] = rules2["consequents"].apply(lambda x: len(x))
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
146,(Unicorn),(Corn),0.388388,0.390390,0.190190,0.489691,1.254362,0.038567,1.194589,1,1
147,(Corn),(Unicorn),0.390390,0.388388,0.190190,0.487179,1.254362,0.038567,1.192643,1,1
191,(Ice cream),(Onion),0.409409,0.387387,0.198198,0.484108,1.249673,0.039598,1.187481,1,1
190,(Onion),(Ice cream),0.387387,0.409409,0.198198,0.511628,1.249673,0.039598,1.209305,1,1
216,(Unicorn),(Milk),0.388388,0.384384,0.183183,0.471649,1.227026,0.033893,1.165165,1,1
217,(Milk),(Unicorn),0.384384,0.388388,0.183183,0.476562,1.227026,0.033893,1.168452,1,1
168,(Ice cream),(Eggs),0.409409,0.384384,0.192192,0.469438,1.221271,0.034822,1.160308,1,1
169,(Eggs),(Ice cream),0.384384,0.409409,0.192192,0.500000,1.221271,0.034822,1.181181,1,1
188,(Ice cream),(Nutmeg),0.409409,0.421421,0.209209,0.511002,1.212569,0.036675,1.183193,1,1
189,(Nutmeg),(Ice cream),0.421421,0.409409,0.209209,0.496437,1.212569,0.036675,1.172824,1,1
94,(Cheese),(Kidney Beans),0.398398,0.393393,0.188188,0.472362,1.200737,0.031461,1.149664,1,1
95,(Kidney Beans),(Cheese),0.393393,0.398398,0.188188,0.478372,1.200737,0.031461,1.153314,1,1
181,(Unicorn),(Eggs),0.388388,0.384384,0.179179,0.461340,1.200205,0.029889,1.142865,1,1
180,(Eggs),(Unicorn),0.384384,0.388388,0.179179,0.466146,1.200205,0.029889,1.145653,1,1
160,(Onion),(Dill),0.387387,0.409409,0.190190,0.490956,1.199181,0.031590,1.160196,1,1
161,(Dill),(Onion),0.409409,0.387387,0.190190,0.464548,1.199181,0.031590,1.144103,1,1
13,(Apple),(Eggs),0.384384,0.384384,0.177177,0.460938,1.199158,0.029426,1.142012,1,1
12,(Eggs),(Apple),0.384384,0.384384,0.177177,0.460938,1.199158,0.029426,1.142012,1,1
5,(Cheese),(Apple),0.398398,0.384384,0.183183,0.459799,1.196196,0.030045,1.139605,1,1
4,(Apple),(Cheese),0.384384,0.398398,0.183183,0.476562,1.196196,0.030045,1.149328,1,1
55,(Unicorn),(Bread),0.388388,0.394394,0.183183,0.471649,1.195883,0.030005,1.146219,1,1
54,(Bread),(Unicorn),0.394394,0.388388,0.183183,0.464467,1.195883,0.030005,1.142061,1,1
20,(Nutmeg),(Apple),0.421421,0.384384,0.193193,0.458432,1.192640,0.031205,1.136729,1,1
21,(Apple),(Nutmeg),0.384384,0.421421,0.193193,0.502604,1.192640,0.031205,1.163216,1,1
142,(Onion),(Corn),0.387387,0.390390,0.180180,0.465116,1.191413,0.028948,1.139705,1,1
143,(Corn),(Onion),0.390390,0.387387,0.180180,0.461538,1.191413,0.028948,1.137709,1,1
113,(Eggs),(Chocolate),0.384384,0.391391,0.179179,0.466146,1.190997,0.028734,1.140028,1,1
112,(Chocolate),(Eggs),0.391391,0.384384,0.179179,0.457801,1.190997,0.028734,1.135404,1,1
122,(Onion),(Chocolate),0.387387,0.391391,0.180180,0.465116,1.188366,0.028560,1.137833,1,1
123,(Chocolate),(Onion),0.391391,0.387387,0.180180,0.460358,1.188366,0.028560,1.135221,1,1
...,...,...,...,...,...,...,...,...,...,...,...
162,(Dill),(Sugar),0.409409,0.393393,0.173173,0.422983,1.075216,0.012114,1.051280,1,1
163,(Sugar),(Dill),0.393393,0.409409,0.173173,0.440204,1.075216,0.012114,1.055010,1,1
58,(Cheese),(Butter),0.398398,0.426426,0.181181,0.454774,1.066477,0.011294,1.051992,1,1
59,(Butter),(Cheese),0.426426,0.398398,0.181181,0.424883,1.066477,0.011294,1.046050,1,1
237,(Sugar),(Yogurt),0.393393,0.394394,0.165165,0.419847,1.064537,0.010013,1.043873,1,1
236,(Yogurt),(Sugar),0.394394,0.393393,0.165165,0.418782,1.064537,0.010013,1.043681,1,1
172,(Eggs),(Milk),0.384384,0.384384,0.157157,0.408854,1.063660,0.009406,1.041394,1,1
173,(Milk),(Eggs),0.384384,0.384384,0.157157,0.408854,1.063660,0.009406,1.041394,1,1
8,(Apple),(Corn),0.384384,0.390390,0.159159,0.414062,1.060637,0.009099,1.040400,1,1
9,(Corn),(Apple),0.390390,0.384384,0.159159,0.407692,1.060637,0.009099,1.039351,1,1
167,(Yogurt),(Dill),0.394394,0.409409,0.171171,0.434010,1.060088,0.009702,1.043465,1,1
166,(Dill),(Yogurt),0.409409,0.394394,0.171171,0.418093,1.060088,0.009702,1.040726,1,1
31,(Butter),(Bread),0.426426,0.394394,0.178178,0.417840,1.059448,0.009998,1.040274,1,1
30,(Bread),(Butter),0.394394,0.426426,0.178178,0.451777,1.059448,0.009998,1.046241,1,1
46,(Bread),(Milk),0.394394,0.384384,0.160160,0.406091,1.056472,0.008561,1.036549,1,1
47,(Milk),(Bread),0.384384,0.394394,0.160160,0.416667,1.056472,0.008561,1.038181,1,1
196,(Yogurt),(Ice cream),0.394394,0.409409,0.170170,0.431472,1.053889,0.008701,1.038807,1,1
197,(Ice cream),(Yogurt),0.409409,0.394394,0.170170,0.415648,1.053889,0.008701,1.036371,1,1
155,(Kidney Beans),(Dill),0.393393,0.409409,0.169169,0.430025,1.050356,0.008110,1.036170,1,1
154,(Dill),(Kidney Beans),0.409409,0.393393,0.169169,0.413203,1.050356,0.008110,1.033759,1,1
11,(Apple),(Dill),0.384384,0.409409,0.165165,0.429688,1.049530,0.007795,1.035556,1,1
10,(Dill),(Apple),0.409409,0.384384,0.165165,0.403423,1.049530,0.007795,1.031913,1,1
151,(Eggs),(Dill),0.384384,0.409409,0.165165,0.429688,1.049530,0.007795,1.035556,1,1
150,(Dill),(Eggs),0.409409,0.384384,0.165165,0.403423,1.049530,0.007795,1.031913,1,1
227,(Nutmeg),(Yogurt),0.421421,0.394394,0.174174,0.413302,1.047940,0.007968,1.032227,1,1
226,(Yogurt),(Nutmeg),0.394394,0.421421,0.174174,0.441624,1.047940,0.007968,1.036182,1,1
234,(Unicorn),(Sugar),0.388388,0.393393,0.159159,0.409794,1.041690,0.006370,1.027788,1,1
235,(Sugar),(Unicorn),0.393393,0.388388,0.159159,0.404580,1.041690,0.006370,1.027194,1,1
225,(Unicorn),(Nutmeg),0.388388,0.421421,0.169169,0.435567,1.033566,0.005494,1.025062,1,1
224,(Nutmeg),(Unicorn),0.421421,0.388388,0.169169,0.401425,1.033566,0.005494,1.021780,1,1

In [22]:
rules1[(rules1['antecedent_len'] >= 1) &
       (rules1['confidence'] >= 0.20) &
       (rules1['lift'] > 1) ].sort_values(['confidence'], ascending=False)[1:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
188,(Ice cream),(Nutmeg),0.409409,0.421421,0.209209,0.511002,1.212569,0.036675,1.183193,1,1
21,(Apple),(Nutmeg),0.384384,0.421421,0.193193,0.502604,1.192640,0.031205,1.163216,1,1
169,(Eggs),(Ice cream),0.384384,0.409409,0.192192,0.500000,1.221271,0.034822,1.181181,1,1
78,(Sugar),(Butter),0.393393,0.426426,0.196196,0.498728,1.169552,0.028443,1.144236,1,1
189,(Nutmeg),(Ice cream),0.421421,0.409409,0.209209,0.496437,1.212569,0.036675,1.172824,1,1
60,(Chocolate),(Butter),0.391391,0.426426,0.193193,0.493606,1.157541,0.026294,1.132663,1,1
160,(Onion),(Dill),0.387387,0.409409,0.190190,0.490956,1.199181,0.031590,1.160196,1,1
146,(Unicorn),(Corn),0.388388,0.390390,0.190190,0.489691,1.254362,0.038567,1.194589,1,1
66,(Eggs),(Butter),0.384384,0.426426,0.188188,0.489583,1.148107,0.024277,1.123736,1,1

In [23]:
rules1[rules1['antecedents'] == {'Bread'}].sort_values(['confidence'], ascending=False)[1:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
54,(Bread),(Unicorn),0.394394,0.388388,0.183183,0.464467,1.195883,0.030005,1.142061,1,1
43,(Bread),(Ice cream),0.394394,0.409409,0.181181,0.459391,1.122082,0.019712,1.092454,1,1
52,(Bread),(Sugar),0.394394,0.393393,0.180180,0.456853,1.161313,0.025028,1.116836,1,1
30,(Bread),(Butter),0.394394,0.426426,0.178178,0.451777,1.059448,0.009998,1.046241,1,1
57,(Bread),(Yogurt),0.394394,0.394394,0.178178,0.451777,1.145495,0.022631,1.104669,1,1
32,(Bread),(Cheese),0.394394,0.398398,0.177177,0.449239,1.127611,0.020051,1.092309,1,1
39,(Bread),(Dill),0.394394,0.409409,0.175175,0.444162,1.084886,0.013706,1.062524,1,1
40,(Bread),(Eggs),0.394394,0.384384,0.175175,0.444162,1.155516,0.023576,1.107546,1,1
36,(Bread),(Corn),0.394394,0.390390,0.172172,0.436548,1.118235,0.018204,1.081920,1,1